    .mainbox {
        margin: 10% auto;
        height: 400px;
        width: 600px;
        position: relative;
        background-color: #E0E0E0;
    }
    
    .leftbox {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 15px;
        width: 300px;
        height: 400px;
    }
    
    .rightbox {
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box;
        padding: 40px;
        width: 300px;
        background-image: url("./bg.jpg");
        background-size: cover;
        background-position: center;
        height: 400px;
    }
    
    .titlediv {
        font-family: "Courier New", Courier, monospace;
    }
    
    input[type='text'] {
        display: block;
        box-sizing: border-box;
        margin-bottom: 5px;
        padding: 4px;
        width: 220px;
        outline: none;
        border-bottom: 1px solid #aaa;
        font-family: sans-serif;
        border: none;
    }
    
    .getweather {
        background-color: orange;
        width: 100;
        height: 32px;
        box-sizing: border-box;
        border: none;
    }
    
    .check {
        background-color: #F5F5F5;
        overflow: hidden;
    }